/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*ALLS*/
body , input , button{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    background: #afa8a8;
    width: 250px;
    border-radius: 50px;
    color: #000000;
    height: 50px;
}
.screen{
    height: 100vh;
    width: 100vw;
}
.start-screen{
    background: #018686;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.start-screen__title{
    font-size: 90px;
}
.start-screen__username{
    text-align: center;
    background: #afa8a8;
    width: 250px;
    border-radius: 50px;
    height: 50px;
    color: #000000;
}
.start-screen__username::placeholder{
    color: #000000;
}
.start-screen__form{
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.start-screen__btn:disabled{
    background: #7a7676;
    cursor:default;
}
/* --------------------- */
.game-screen__cursor{
    height: 60px;
    width: 60px;
    border: 5px solid #000;
    border-radius: 80px;
    background: none;
    position: fixed;
    pointer-events: none;
}
.countdown__number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    color: red;
}
.game-screen__goalkeeper{
    background: #d1b798;
    width: 100px;
    height: 150px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 399px;
}

/* game-screen */
.game-screen{
    background: #7bb665;
    position: relative;
}
.game-screen__header{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-bottom: 3px solid #000;
}

.game-screen__gate{
    position: relative;
    width: 800px;
    height: 350px;
    background: #fff;
    margin: 80px auto;
    border: 5px solid #000;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0;
}
.game-screen__forge{
    height: 100px;
    width: 500px;
    background: #000;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.forge-sec{
    width: 20%;
    height: 20px;
}
.line{
    position: absolute;
    left: 14px;
    height: 50px;
    width: 10px;
    background: #fff;
}
.forge-sec:nth-child(1){
    background: #fff;
}
.forge-sec:nth-child(2){
    background: #eeff00;
}
.forge-sec:nth-child(3){
    background: #ff7b00;
}
.forge-sec:nth-child(4){
    background: #ff3c00;
}
.forge-sec:nth-child(5){
    background: #ff0000;
}
.game-screen__action{
    text-align: center;
}
/* ---------------------- */

.end-screen{
    background: #afa8a8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-size: 60px;
}
.end-screen h1{
    font-size: 100px;
    color: #cf0303;
}